@{
	ViewData["Title"] = "Home Page";
}

<body>

	<div class="container">
		<div class="welcome">
			<h1 style="padding-top:10px">Welcome to Our KhumaloCraft</h1>
			<p class="tagline">Discover the Beauty of Craftsmanship</p>
		</div>
		<div class="content">
			<div class="paragraph">

				<p>Explore our world of artistry and discover the beauty in every detail. Let our creations inspire your imagination and elevate your space. Start your journey with us today."</p>
				<a asp-controller="WorkPage" asp-action="Index" class="btn btn-primary">View Art</a>
			</div>
			<div class="image">
				<img src="~/Images/front page.jpg" alt="Craftsmanship Image">
			</div>
		</div>
	</div>

</body>
